html, body{
	margin: 0;
	padding: 0;
	font-family: "Helvetica", sans-serif;
	text-align: center;

}
.container{
	margin: 0 auto;
	width: 1170px;
}
.graph{
	width: 1170px;
	height: 500px;
}
.slopes {
    border-collapse: collapse;
    width: 100%;
}

.trendsNumber{
	margin : 10px;
}

input {
	border: #4CAF50 1px solid;
	font-size: 14px
}

th, td {
    text-align: left;
    padding: 8px;
}

th, button {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even){background-color: #f2f2f2}